@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);





body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Oswald', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Oswald', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Oswald', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Oswald', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #90a878 !important;
}
.bg-success {
  background-color: #00a885 !important;
}
.bg-info {
  background-color: #f28281 !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #475577 !important;
}
.btn-primary {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-secondary {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-info {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-success {
  background-color: #00a885;
  border-color: #00a885;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #005c48;
  border-color: #005c48;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #005c48 !important;
  border-color: #005c48 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #475577;
  border-color: #475577;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #2a3347;
  border-color: #2a3347;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #2a3347 !important;
  border-color: #2a3347 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-info-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.btn-success-outline {
  background: none;
  border-color: #004234;
  color: #004234;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #00a885;
  border-color: #00a885;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #00a885 !important;
  border-color: #00a885 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #212737;
  color: #212737;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #475577;
  border-color: #475577;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #475577 !important;
  border-color: #475577 !important;
}
.text-primary {
  color: #90a878 !important;
}
.text-success {
  color: #00a885 !important;
}
.text-info {
  color: #f28281 !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #475577 !important;
}
.alert-success {
  background-color: #00a885;
}
.alert-info {
  background-color: #f28281;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #475577;
}
.btn-social {
  border-color: #90a878;
}
.btn-social:hover {
  background: #90a878;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #90a878;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #90a878;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #90a878;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #90a878;
}
.lead a,
.lead a:hover {
  color: #90a878;
}
.lead blockquote {
  border-color: #90a878;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #28ffd2;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #8695b7;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #90a878;
}
#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #ffffff;
}
#menu-0 .link {
  font-size: 0.8rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #90a878;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #d03020;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #e04434!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #e25041;
}
#menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #90a878;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #90a878!important;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #ffffff;
}
#header1-1 .mbr-section-title {
  text-align: center;
  color: #000000;
  font-size: 46px;
  font-family: 'Lora', serif;
}
#header1-1 .mbr-section-title SPAN {
  font-size: 30px;
  color: #000000;
}

#menu-f .hide-buttons .nav-btn {
  display: none !important;
}
#menu-f .navbar-caption {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#menu-f .navbar-toggler {
  color: #ffffff;
}
#menu-f .link,
#menu-f .dropdown-item {
  color: #ffffff;
}
#menu-f .link {
  font-size: 0.8rem;
}
#menu-f .dropdown-item,
#menu-f .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-f .link:hover,
#menu-f .dropdown-item:hover,
#menu-f .link:focus,
#menu-f .dropdown-item:focus {
  color: #90a878;
}
#menu-f .link[aria-expanded="true"],
#menu-f .dropdown-menu {
  background: #d03020;
}
#menu-f .nav-dropdown-sm .link:focus,
#menu-f .nav-dropdown-sm .link:hover,
#menu-f .nav-dropdown-sm .dropdown-item:focus,
#menu-f .nav-dropdown-sm .dropdown-item:hover {
  background: #e04434!important;
}
#menu-f .navbar,
#menu-f .nav-dropdown-sm,
#menu-f .nav-dropdown-sm .link[aria-expanded="true"],
#menu-f .nav-dropdown-sm .dropdown-menu {
  background: #e25041;
}
#menu-f .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-f .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-f .bg-color.transparent.opened .link:hover,
#menu-f .bg-color.transparent.opened .link:focus {
  color: #90a878;
}
#menu-f .link[aria-expanded="true"],
#menu-f .dropdown-item[aria-expanded="true"] {
  color: #90a878!important;
}
#menu-f.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-f .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-f .close-icon::before,
#menu-f .close-icon::after {
  background-color: #ffffff;
}
#header3-p .mbr-section-title,
#header3-p .mbr-section-subtitle {
  text-align: center;
}
#header3-p B {
  font-size: 36px;
  color: #000000;
}
#content2-q P {
  text-align: center;
}


#menu-3 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3 .navbar-caption {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#menu-3 .navbar-toggler {
  color: #ffffff;
}
#menu-3 .link,
#menu-3 .dropdown-item {
  color: #ffffff;
}
#menu-3 .link {
  font-size: 0.8rem;
}
#menu-3 .dropdown-item,
#menu-3 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-3 .link:hover,
#menu-3 .dropdown-item:hover,
#menu-3 .link:focus,
#menu-3 .dropdown-item:focus {
  color: #90a878;
}
#menu-3 .link[aria-expanded="true"],
#menu-3 .dropdown-menu {
  background: #d03020;
}
#menu-3 .nav-dropdown-sm .link:focus,
#menu-3 .nav-dropdown-sm .link:hover,
#menu-3 .nav-dropdown-sm .dropdown-item:focus,
#menu-3 .nav-dropdown-sm .dropdown-item:hover {
  background: #e04434!important;
}
#menu-3 .navbar,
#menu-3 .nav-dropdown-sm,
#menu-3 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3 .nav-dropdown-sm .dropdown-menu {
  background: #e25041;
}
#menu-3 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-3 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3 .bg-color.transparent.opened .link:hover,
#menu-3 .bg-color.transparent.opened .link:focus {
  color: #90a878;
}
#menu-3 .link[aria-expanded="true"],
#menu-3 .dropdown-item[aria-expanded="true"] {
  color: #90a878!important;
}
#menu-3.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-3 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-3 .close-icon::before,
#menu-3 .close-icon::after {
  background-color: #ffffff;
}
#testimonials1-7 .mbr-section-subtitle {
  color: #000000;
}
#testimonials1-7 .mbr-section-title {
  font-family: 'Lora', serif;
}



#menu-j .hide-buttons .nav-btn {
  display: none !important;
}
#menu-j .navbar-caption {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#menu-j .navbar-toggler {
  color: #ffffff;
}
#menu-j .link,
#menu-j .dropdown-item {
  color: #ffffff;
}
#menu-j .link {
  font-size: 0.8rem;
}
#menu-j .dropdown-item,
#menu-j .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-j .link:hover,
#menu-j .dropdown-item:hover,
#menu-j .link:focus,
#menu-j .dropdown-item:focus {
  color: #90a878;
}
#menu-j .link[aria-expanded="true"],
#menu-j .dropdown-menu {
  background: #d03020;
}
#menu-j .nav-dropdown-sm .link:focus,
#menu-j .nav-dropdown-sm .link:hover,
#menu-j .nav-dropdown-sm .dropdown-item:focus,
#menu-j .nav-dropdown-sm .dropdown-item:hover {
  background: #e04434!important;
}
#menu-j .navbar,
#menu-j .nav-dropdown-sm,
#menu-j .nav-dropdown-sm .link[aria-expanded="true"],
#menu-j .nav-dropdown-sm .dropdown-menu {
  background: #e25041;
}
#menu-j .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-j .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-j .bg-color.transparent.opened .link:hover,
#menu-j .bg-color.transparent.opened .link:focus {
  color: #90a878;
}
#menu-j .link[aria-expanded="true"],
#menu-j .dropdown-item[aria-expanded="true"] {
  color: #90a878!important;
}
#menu-j.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-j .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-j .close-icon::before,
#menu-j .close-icon::after {
  background-color: #ffffff;
}
#testimonials4-l .mbr-section-title {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#testimonials4-l .card-footer > div {
  color: #ffffff;
  font-family: 'Lora', serif;
}

#menu-m .hide-buttons .nav-btn {
  display: none !important;
}
#menu-m .navbar-caption {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#menu-m .navbar-toggler {
  color: #ffffff;
}
#menu-m .link,
#menu-m .dropdown-item {
  color: #ffffff;
}
#menu-m .link {
  font-size: 0.8rem;
}
#menu-m .dropdown-item,
#menu-m .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-m .link:hover,
#menu-m .dropdown-item:hover,
#menu-m .link:focus,
#menu-m .dropdown-item:focus {
  color: #90a878;
}
#menu-m .link[aria-expanded="true"],
#menu-m .dropdown-menu {
  background: #d03020;
}
#menu-m .nav-dropdown-sm .link:focus,
#menu-m .nav-dropdown-sm .link:hover,
#menu-m .nav-dropdown-sm .dropdown-item:focus,
#menu-m .nav-dropdown-sm .dropdown-item:hover {
  background: #e04434!important;
}
#menu-m .navbar,
#menu-m .nav-dropdown-sm,
#menu-m .nav-dropdown-sm .link[aria-expanded="true"],
#menu-m .nav-dropdown-sm .dropdown-menu {
  background: #e25041;
}
#menu-m .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-m .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-m .bg-color.transparent.opened .link:hover,
#menu-m .bg-color.transparent.opened .link:focus {
  color: #90a878;
}
#menu-m .link[aria-expanded="true"],
#menu-m .dropdown-item[aria-expanded="true"] {
  color: #90a878!important;
}
#menu-m.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-m .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-m .close-icon::before,
#menu-m .close-icon::after {
  background-color: #ffffff;
}
#contacts3-o B {
  color: #ffffff;
  text-align: center;
}
#contacts3-o LI {
  color: #ffffff;
}
#contacts3-o H4 {
  color: #ffffff;
}
#contacts3-o STRONG {
  color: #ffffff;
}
#contacts3-o SPAN {
  text-align: center;
}

#menu-w .hide-buttons .nav-btn {
  display: none !important;
}
#menu-w .navbar-caption {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#menu-w .navbar-toggler {
  color: #ffffff;
}
#menu-w .link,
#menu-w .dropdown-item {
  color: #ffffff;
}
#menu-w .link {
  font-size: 0.8rem;
}
#menu-w .dropdown-item,
#menu-w .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-w .link:hover,
#menu-w .dropdown-item:hover,
#menu-w .link:focus,
#menu-w .dropdown-item:focus {
  color: #90a878;
}
#menu-w .link[aria-expanded="true"],
#menu-w .dropdown-menu {
  background: #d03020;
}
#menu-w .nav-dropdown-sm .link:focus,
#menu-w .nav-dropdown-sm .link:hover,
#menu-w .nav-dropdown-sm .dropdown-item:focus,
#menu-w .nav-dropdown-sm .dropdown-item:hover {
  background: #e04434!important;
}
#menu-w .navbar,
#menu-w .nav-dropdown-sm,
#menu-w .nav-dropdown-sm .link[aria-expanded="true"],
#menu-w .nav-dropdown-sm .dropdown-menu {
  background: #e25041;
}
#menu-w .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-w .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-w .bg-color.transparent.opened .link:hover,
#menu-w .bg-color.transparent.opened .link:focus {
  color: #90a878;
}
#menu-w .link[aria-expanded="true"],
#menu-w .dropdown-item[aria-expanded="true"] {
  color: #90a878!important;
}
#menu-w.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-w .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-w .close-icon::before,
#menu-w .close-icon::after {
  background-color: #ffffff;
}


#menu-17 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-17 .navbar-caption {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#menu-17 .navbar-toggler {
  color: #ffffff;
}
#menu-17 .link,
#menu-17 .dropdown-item {
  color: #ffffff;
}
#menu-17 .link {
  font-size: 0.8rem;
}
#menu-17 .dropdown-item,
#menu-17 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-17 .link:hover,
#menu-17 .dropdown-item:hover,
#menu-17 .link:focus,
#menu-17 .dropdown-item:focus {
  color: #90a878;
}
#menu-17 .link[aria-expanded="true"],
#menu-17 .dropdown-menu {
  background: #d03020;
}
#menu-17 .nav-dropdown-sm .link:focus,
#menu-17 .nav-dropdown-sm .link:hover,
#menu-17 .nav-dropdown-sm .dropdown-item:focus,
#menu-17 .nav-dropdown-sm .dropdown-item:hover {
  background: #e04434!important;
}
#menu-17 .navbar,
#menu-17 .nav-dropdown-sm,
#menu-17 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-17 .nav-dropdown-sm .dropdown-menu {
  background: #e25041;
}
#menu-17 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-17 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-17 .bg-color.transparent.opened .link:hover,
#menu-17 .bg-color.transparent.opened .link:focus {
  color: #90a878;
}
#menu-17 .link[aria-expanded="true"],
#menu-17 .dropdown-item[aria-expanded="true"] {
  color: #90a878!important;
}
#menu-17.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-17 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-17 .close-icon::before,
#menu-17 .close-icon::after {
  background-color: #ffffff;
}
#features6-1j H4 {
  color: #553982;
}
#features6-1j P {
  color: #000000;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

#menu-1b .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1b .navbar-caption {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#menu-1b .navbar-toggler {
  color: #ffffff;
}
#menu-1b .link,
#menu-1b .dropdown-item {
  color: #ffffff;
}
#menu-1b .link {
  font-size: 0.8rem;
}
#menu-1b .dropdown-item,
#menu-1b .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-1b .link:hover,
#menu-1b .dropdown-item:hover,
#menu-1b .link:focus,
#menu-1b .dropdown-item:focus {
  color: #90a878;
}
#menu-1b .link[aria-expanded="true"],
#menu-1b .dropdown-menu {
  background: #d03020;
}
#menu-1b .nav-dropdown-sm .link:focus,
#menu-1b .nav-dropdown-sm .link:hover,
#menu-1b .nav-dropdown-sm .dropdown-item:focus,
#menu-1b .nav-dropdown-sm .dropdown-item:hover {
  background: #e04434!important;
}
#menu-1b .navbar,
#menu-1b .nav-dropdown-sm,
#menu-1b .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1b .nav-dropdown-sm .dropdown-menu {
  background: #e25041;
}
#menu-1b .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1b .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1b .bg-color.transparent.opened .link:hover,
#menu-1b .bg-color.transparent.opened .link:focus {
  color: #90a878;
}
#menu-1b .link[aria-expanded="true"],
#menu-1b .dropdown-item[aria-expanded="true"] {
  color: #90a878!important;
}
#menu-1b.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1b .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1b .close-icon::before,
#menu-1b .close-icon::after {
  background-color: #ffffff;
}
#contacts3-1d B {
  color: #ffffff;
  text-align: center;
}
#contacts3-1d LI {
  color: #ffffff;
}
#contacts3-1d H4 {
  color: #ffffff;
}
#contacts3-1d STRONG {
  color: #ffffff;
}
#contacts3-1d SPAN {
  text-align: center;
}
